@import url('https://fonts.googleapis.com/css2?family=Suez+One&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&display=swap');


* {
    /* font-family: 'Suez One', serif; */
    font-family: 'Gentium Book Plus', serif;
    scroll-behavior: smooth;
    /* color: whitesmoke; */
    /* font-family: 'Yeseva One', cursive; */

}

body {
    color: whitesmoke;
}

.avg_output {
    display: grid;
    place-items: center;
    float: left;
    justify-content: center;
    align-content: center;
    justify-items: center;
}

.text-capitalize {
    text-transform: capitalize !important;
    font-weight: bolder;
}


button,
input,
optgroup,
select,
textarea {
    margin: 0px;
    font-family: inherit;
    font-size: large;
    line-height: inherit;
    padding: 3px 93px;
}



label {
    display: inline-block;
    padding-left: 0px;
    font-size: larger;
    font-weight: bold;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    color: rgb(23, 140, 19);
    line-height: inherit;
    font-size: larger;
    font-weight: bold;
    padding: 3px 93px;
}

#del {
    margin-left: 21rem;
    width: 20vw;
    font-weight: bolder;

}

#del2 {
    margin-left: 21rem;
    width: 20vw;
    font-weight: bolder;

}

#delete {

    width: 10vw;
    font-weight: bolder;

}

#add_row {
    margin-left: 9rem;
    width: 10vw;
    font-weight: bolder;
}

#exe {
    width: 10vw;
    font-weight: bolder;
}

#back {
    text-decoration: none;
    color: white;
    font-size: x-large;
    font-weight: bolder;
    border-radius: 30px;
}

#back:hover {
    color: rgb(234, 255, 77);
}

#excel {
    width: 30vw;
    color: black;
    font-size: larger;
    font-weight: bolder;
}

#excel:hover {
    background-color: rgb(220, 200, 20);
}